{#
/**
 * @file
 * Default theme implementation to display pruduct lists from an app credential.
 *
 * Available variables:
 * - content: List of API products included in the app crendetial.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - buttons.show_more: Properties for the 'Show more' button
 * - buttons.show_less: Properties for the 'Show less' button
 * - hidden_list: Properties for the hidden list beavior
 *
 * @see template_preprocess_app_credential_product_list()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  {% if hidden_list %}
    {% for c in content|slice(0,hidden_list.num_of_visible_rows) %}
      {{ c }}
    {% endfor %}
    <div {{ hidden_list.attributes }}>
      {% for c in content|slice(hidden_list.num_of_visible_rows, content.length) %}
        {{ c }}
      {% endfor %}
    </div>
    <button {{ buttons.show_more.attributes }}>{{ buttons.show_more.text }}</button>
    <button {{ buttons.show_less.attributes }}>{{ buttons.show_less.text }}</button>
  {% else %}
    {{ content }}
  {% endif %}
</div>
